modules = ["python-3.12", "nodejs-20", "web"]
[agent]
expertMode = true
stack = "GAMESTACK_JS"

[nix]
channel = "stable-25_05"
packages = ["cargo", "exiftool", "file", "fontconfig", "freetype", "geckodriver", "ghostscript", "glib", "glibcLocales", "gumbo", "harfbuzz", "hdf5", "imagemagickBig", "jbig2dec", "lcms2", "libaom", "libarchive", "libde265", "libheif", "libiconv", "libimagequant", "libjpeg", "libjpeg_turbo", "libtiff", "libwebp", "libxcrypt", "mupdf", "nasm", "netpbm", "openjpeg", "openssl", "pango", "pkg-config", "poppler_utils", "qpdf", "rustc", "swig", "tcl", "tesseract", "tk", "unrar", "x265", "xcbuild", "xcodebuild", "xsimd", "zlib"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend API"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Backend API"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python backend/run.py"
waitForPort = 8000

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm --prefix frontend run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5173
externalPort = 5173

[[ports]]
localPort = 8000
externalPort = 8000

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]
